/*
.console {
    width: 682px;
    height: 682px;
    background-color: #343132;
    border-radius: 50%;
    z-index: 2500;
}*/

.flex-container {
    display: -webkit-flex;
    display: flex;
    z-index: 2000;
}

.flex-item-green {
  background-color: #03a64b;
  width: 300px;
  height: 300px;
  /*margin-left: 80px;
  margin-top:50px;*/
  z-index: 100;
  border-top-left-radius:98%;
  border-style: solid;
  border-width: 20px;
  border-color: #343132;
}

.flex-item-yellow {
  background-color: #cba60c;
  width: 300px;
  height: 300px;
  /*margin-left: 80px;*/
  z-index: 100;
  border-bottom-left-radius:98%;
  border-style: solid;
  border-width: 20px;
  border-color: #343132;
}

.flex-item-red {
  background-color: #9c121c;
  width: 300px;
  height: 300px;
  /*margin-left: 20px;
  margin-top:50px;*/
  z-index: 100;
  border-top-right-radius:98%;
  border-style: solid;
  border-width: 20px;
  border-color: #343132;
}

.flex-item-blue {
  background-color: #1d8cff;
  width: 300px;
  height: 300px;
  /*margin-left: 20px;*/
  z-index: 100;
  border-bottom-right-radius:98%;
  border-style: solid;
  border-width: 20px;
  border-color: #343132;
}

.controls {
  width: 300px;
  height: 300px;
  background-color: #edeaed;
  border-radius: 50%;
  z-index: 100;
  position: relative;
  margin-left: 175px;
  margin-top: -510px;
  border-style: solid;
  border-width: 15px;
  border-color: #343132;
}

.title {
  margin-left: 60px;
  font-family: 'Alfa Slab One', cursive;
  font-size: 40pt;
  color: #222222;
}

.score-keeper {
  width: 80px;
  height: 50px;
  background-color: #32050c;
  margin-left: 60px;
  margin-top: -50px;
  border-radius: 10px;
  border-style: solid;
  margin-top: -45px;
  border-color: #343132;
  border-width: 5px;
}

.score-text {
  font-size: 14pt;
  color: #660A17;
  padding-left: 28px;
}

.start-button {
  width: 30px;
  height: 30px;
  background-color: #fc0102;
  margin-left: 10px;
  border-radius: 50%;
  border-style: solid;
  border-color: #343132;
  border-width: 5px;
  box-shadow: 3px 3px 5px #888888;
  margin-top: -45px;
}

.strict-button {
  width: 30px;
  height: 30px;
  background-color: #ffff00;
  margin-left: 20px;
  border-radius: 50%;
  border-style: solid;
  border-color: #343132;
  border-width: 5px;
  box-shadow: 3px 3px 5px #888888;
  margin-top: -45px;
}

.count {
  font-family: 'VT323', monospace;
  font-size: 18pt;
  margin: 10px;
}

.start {
  margin-top: 10px;
  font-family: 'VT323', monospace;
  font-size: 18pt;
  margin-top: 55px;
  margin-right: 10px
}

.strict {
  font-family: 'VT323', monospace;
  font-size: 18pt;
  margin-top: 55px;
}

.strict-on {
  width: 15px;
  height: 15px;
  background-color: #32050c;
  margin-top: -60px;
  border-radius: 50%;
  border-style: solid;;
  border-color: #343132;
  border-width: 2px;
}

.off-on {
  width: 70px;
  height: 35px;
  background-color: #211F1F;
  margin-top: 50px;
  margin-left: 120px;
  border-radius: 5px;
}

.switch {
  width: 35px;
  height:30px;
  background-color: #3193de;
  border-style: solid;
  border-color: #343132;
  border-width: 2px;
  border-radius: 5px;
}
