
.flex-container {
    display: -webkit-flex;
    display: flex;
    z-index: 2000;
}

.flex-button{
  border-color: #343132;
  border-style: solid;
  border-width: 20px;
  height: 300px;
  width: 300px;
  z-index: 100;
}

.green  {
  background-color: #03a64b;
  border-top-left-radius:98%;
}

.red {
  background-color: #9c121c;
  border-top-right-radius:98%;
}

.blue {
  background-color: #1d8cff;
  border-bottom-right-radius:98%;
}

.yellow {
  background-color: #cba60c;
  border-bottom-left-radius:98%;
}

.controls {
  background-color: #edeaed;
  border-color: #343132;
  border-radius: 50%;
  border-style: solid;
  border-width: 15px;
  height: 300px;
  margin-left: 175px;
  margin-top: -510px;
  position: relative;
  width: 300px;
  z-index: 100;
}

.title {
  color: #222222;
  font-family: 'Alfa Slab One', cursive;
  font-size: 40pt;
  margin-left: 60px;
}

.score-keeper {
  background-color: #32050c;
  border-color: #343132;
  border-radius: 10px;
  border-style: solid;
  border-width: 5px;
  height: 50px;
  margin-left: 60px;
  margin-top: -50px;
  width: 80px;
}

.score-text {
  color: #660A17;
  font-size: 14pt;
  padding-left: 28px;
}

.start-button {
  background-color: #fc0102;
  border-color: #343132;
  border-radius: 50%;
  border-style: solid;
  border-width: 5px;
  box-shadow: 3px 3px 5px #888888;
  height: 30px;
  margin-left: 10px;
  margin-top: -45px;
  width: 30px;
}

.strict-button {
  width: 30px;
  height: 30px;
  background-color: #ffff00;
  margin-left: 20px;
  border-radius: 50%;
  border-style: solid;
  border-color: #343132;
  border-width: 5px;
  box-shadow: 3px 3px 5px #888888;
  margin-top: -45px;
}

.count {
  font-family: 'VT323', monospace;
  font-size: 18pt;
  margin: 10px;
}

.start {
  font-family: 'VT323', monospace;
  font-size: 18pt;
  margin-right: 10px
  margin-top: 10px;
  margin-top: 55px;
}

.strict {
  font-family: 'VT323', monospace;
  font-size: 18pt;
  margin-top: 55px;
}

.strict-on {
  background-color: #32050c;
  border-color: #343132;
  border-radius: 50%;
  border-style: solid;;
  border-width: 2px;
  height: 15px;
  margin-top: -60px;
  width: 15px;
}

.off-on {
  background-color: #211F1F;
  border-radius: 5px;
  height: 35px;
  margin-left: 120px;
  margin-top: 50px;
  width: 72px;
}

.switch-on {
  background-color: #3193de;
  border-color: #343132;
  border-radius: 5px;
  border-style: solid;
  border-width: 2px;
  height:30px;
  width: 35px;
  display: block;
}
.switch-off {
  background-color: #3193de;
  border-color: #343132;
  border-radius: 5px;
  border-style: solid;
  border-width: 2px;
  height:30px;
  width: 35px;
  margin-left: 33px;
  display: none;
}

.off {
  font-family: 'VT323', monospace;
  font-size: 24px;
}

.on {
  font-family: 'VT323', monospace;
  font-size: 24px;
  margin-left: -6px;
  margin-bottom: 1px;
}
