.flex-container {
    display: -webkit-flex;
    display: flex;
    width: 400px;
    height: 100px;
}

.box {
  width: 200px;
  height: 100px;
  border-color: grey;
  border-style: solid;
  border-width: 1px;
  font-family: 'VT323', monospace;
  font-size: 70pt;
}

.turn-announcer {
  width: 300px;
  height: 100px;
  /*border-style: solid;*/
  /*border-color: red;*/
  /*border-width: 1px;*/
  padding: 30px;
  font-size: 40pt;
  font-family: 'VT323', monospace;
}

.game {
margin: auto;
height: 680px;
width: 680px;
margin-top: 20px;
}
